@charset "UTF-8";

body {
    line-height: 40px;
	background:rgb(18, 200, 213);
}
#photo{position: center;}
#name{
    color: rgb(3, 0, 0);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    }
.from{
    color: rgb(9, 118, 124);
    font-size: 40px;
    font-weight: bold;}
.favorate{
    color: rgb(203, 42, 27);
    font-size: 40px;
    font-weight: bold;}
.pro{
    color: blueviolet;
    font-size: 40px;
    font-weight: bold;}
    .box {
        border: 5px solid greenyellow;
    }
    .class1{
        text-align: center
    
    }
    @media screen and (min-width: 600px) {
        
        .box {display: center;}
                
    }